@font-face {
   font-family: Apple;
   src: url(fonts/AppleFont.ttf);
}

@font-face {
   font-family: PCowboy;
   src: url(fonts/PixelCowboy.otf);
}

h1 {
   font-family: PCowboy;
}

body {
   background: url("images/grass_pixel_bg.png") fixed;
   overflow: none;
}



html, body {margin: 0; height: 100%; overflow: hidden;
   cursor: url("images/cursor.gif"), crosshair;}

a { 
   cursor: url("images/cursor.gif"), crosshair; }

.container {
   width: 700px;
   height: 700px;
   position: relative;
   top: 50px;
   }

.textContainer {
   width: 370px;
   height: 270px;
   position: relative;
   top: -275px;
   margin: auto;
   z-index: 50;
   }

#ds {
   width: 700px;
   height: 700px;
   z-index: 3;
   position: fixed;
}

#dsPic {
   background;
}

#mudkip{
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);

}

h1 { 
   text-align: center;
   text-shadow: 2px 2px purple;
   font-size: 18px;
   color: pink;
   position: absolute;
   font-family: PCowboy;
 }

.dsTitle {
   box-sizing: border-box;
   top: 75px;
   left: 197px;
   width: 305px;
   height: 230px;
   padding: 30px;
   margin: auto;
   text-align: center;
   text-shadow: 2px 2px purple;
   font-size: 18px;
   color: #ffffff;
   position: absolute;
   font-family: PCowboy;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: blue;
   z-index: 0;
   background:  url("images/ds_blue.png");
}

#dsBottomBg {
   box-sizing: border-box;
   width: 350px;
   height: 230px;
   top: 375px;
   left: 170px;
   padding: 30px 45px 30px 40px;
   margin: auto;
   font-size: 14px;
   color: #000e1a;
   position: absolute;
   font-family: Apple;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: blue;
   z-index: 0;
   background:  #fafafa;
   opacity: 0.9;
   overflow: auto;}

   .bottom {
   box-sizing: border-box;
   width: 350px;
   height: 230px;
   padding: 30px 45px 30px 40px;
   left: 10px;
   margin: auto;
   font-size: 14px;
   color: #000e1a;
   position: absolute;
   font-family: Apple;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: blue;
   z-index: 0;
   opacity: 0.9;
   overflow: hidden;}



#box {
   box-sizing: border-box;
   width: 350px;
   height: 1000px;
   border: 1px solid blue;
   z-index: 1;
   margin: auto;
   background: white;
   opacity: 0.8;
   top: 0px;
   position: absolute;
}

.pic {
   text-align: center;
}

.ima {
   height:150px;
}

.end {
   text-align: center;
   left: 100px;
   position: relative;

}






